<div class="mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            {{#with data}}
            <form
                method="POST"
                action="/courses/updated?slug={{_id}}&_method=PUT"
            >
            {{/with}}
                <div class="mb-3">
                    <label for="floatingSelect">
                        Khoá học
                    </label>
                    <div class="form-floating">
                        <select
                            required
                            name="name"
                            class="form-select"
                            id="floatingSelect"
                        >
                            {{#with data}}
                            <option data="{{name}}" value="">
                                Mở menu để chọn
                            </option>
                            {{/with}}
                            {{#each group}}
                            <option value="{{this.name}}">
                                {{this.title}}
                            </option>
                            {{/each}}
                        </select>
                        <label for="floatingSelect">
                            Lựa chọn khoá học
                        </label>
                    </div>
                </div>
              {{#with data}}
                <div class="mb-3">
                    <label for="title" class="form-label">
                        Tên bài học
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="title"
                        name="title"
                        autocomplete="off"
                        value="{{title}}"
                    />
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">
                        Mô tả bài học
                    </label>
                    <textarea
                        type="text"
                        class="form-control"
                        id="desc"
                        name="desc"
                    >{{desc}}</textarea>
                </div>
                <div class="mb-3">
                    <label for="videoId" class="form-label">
                        videoId
                    </label>
                    <div class="d-flex">
                        <img
                            style="border-radius: 16px; height: 120px; object-fit: cover;"
                            src="https://i.ytimg.com/vi/{{this.videoId}}/maxresdefault.jpg"
                            class="card-img-top"
                            alt="{{this.title}}"
                        />
                        <input
                          type="text"
                          class="form-control"
                          id="videoId"
                          name="videoId"
                          value="{{videoId}}"
                        />
                    </div>
                </div>
                <button type="submit" class="btn btn-dark fw-bold">
                    <i class="bi bi-pencil-square"></i>
                    Cập nhật
                </button>
            </form>
        </div>
    </div>
</div>
    {{/with}}
<script>
    const courseData = document.querySelector('option[value=""]')
    const options = document.querySelectorAll('option[value]:not(:first-child)') //Select all "Option" except first child
  
    //Set "Option" which have the same data to "Selected"
    options.forEach(option => {
        if(option.value == courseData.getAttribute('data')) {
            option.setAttribute('Selected','Selected')
        }
    })
</script>
