<div class="row">
    {{#each data}}
        <div class="col-lg-3 block">
            <div style="background-color: #f9f9f9" class="card mt-4">
                <a 
                    class="play-video"
                    href="/courses/{{this._id}}?name={{this.name}}"
                >
                    <img
                        src="https://i.ytimg.com/vi/{{this.videoId}}/maxresdefault.jpg"
                        class="card-img-top"
                        alt="{{this.title}}"
                    />
                </a>
                <div class="card-body">
                    <a href="/courses/{{this._id}}?name={{this.name}}">
                        <h5 class="card-title">
                            {{@index}}. {{this.title}}
                        </h5>
                    </a>
                    <p class="card-text">
                        {{this.desc}}
                    </p>
                    <div class="d-grid wrap-button">
                        <a
                            href="/courses/{{this._id}}?name={{this.name}}"
                            class="btn btn-primary"
                        >Xem ngay</a>
                    </div>
                </div>
                {{!-- Popup layout --}}
                <div style="position: absolute;" class="popup-layout card-body-hover">
                    <a
                        class="play-video"
                        href="/courses/{{this._id}}?name={{this.name}}"
                    >
                        <img
                            src="https://i.ytimg.com/vi/{{this.videoId}}/maxresdefault.jpg"
                            class="card-img-top"
                            alt="{{this.title}}"
                        />
                        <iframe
                            id="{{videoId}}"
                            class="iframe"
                            title="{{title}}"
                            frameborder="0"
                            allowfullscreen>
                        </iframe>
                    </a>
                    <div class="card-body">
                        <a href="/courses/{{this._id}}?name={{this.name}}">
                            <h5 class="card-title">
                                {{@index}}. {{this.title}}
                            </h5>
                        </a>
                        <p class="card-text">
                            {{this.desc}}
                        </p>
                        <div class="d-grid wrap-button">
                            <a
                                href="/courses/{{this._id}}?name={{this.name}}"
                                class="btn btn-primary"
                            >Xem ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    const iFrames = document.querySelectorAll('.iframe');
    const wrapper = document.querySelectorAll('.block');
    var iframeQuery;
    var idTime;
    wrapper.forEach(wrap => {
        //Listen event when user mouse in
        wrap.addEventListener('mouseenter', e => {
            //Video autoplay when user mouse in video
            iframeQuery = e.target.querySelector('.iframe')
            iframeId = iframeQuery.id;
            iframeQuery.src=`https://www.youtube.com/embed/${iframeId}?autoplay=1&fs=0&modestbranding=1&rel=0&start=1`
            iframeQuery.allow="autoplay"
            //Set Timeout for scroll View to where mouse pointer
            idTime = setTimeout(() => {
                e.target.scrollIntoView({
                behavior: 'auto',
                block: 'center',
                inline: 'center'
            })
            }, 1000)
        })
        //Remove Timeout when user mouse leave video
        wrap.addEventListener('mouseleave', () => {
            iframeQuery.src=``
            clearTimeout(idTime)
        })
        
    })
})
</script>
