{{!-- 
<div style="object-position: center center" class="wrapVideo">
    <video id="myVideo" loop="" muted="" autoplay="">
        <source src="/img/video.webm" type="video/webm">
    </video>
</div>
---------------- Chill background ----------------
--}}
<article>
        {{!-- Slide --}}

        <div 
            id="carouselExampleCaptions"
            class="carousel slide mt-4"
            data-bs-ride="carousel"
        >
            <div class="carousel-indicators">
                <button
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    class="active"
                    aria-current="true"
                    data-bs-slide-to="0"
                    aria-label="Slide 1"
                ></button>
                <button
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                ></button>
                <button
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                ></button>
                <button
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="3"
                    aria-label="Slide 4"
                ></button>
            </div>
            <div class="carousel-inner">
                <div
                    class="carousel-item active"
                    data-bs-interval="5000"
                >
                    <img
                        class="first-slide-img"
                        src="https://files.fullstack.edu.vn/f8-prod/banners/20/6308a6bf603a4.png"
                        alt="First pro slide"
                    />
                    <div class="first-slide-content">
                        <div class="d-flex flex-column align-items-start">
                            <a class="link-text" href="payment/htmlcss">
                                <h2 style="font-weight: 700">
                                    Khóa học HTML CSS Pro
                                    <span>
                                        <img src="https://fullstack.edu.vn/static/media/crown_icon.3e4800f7485935ab6ea312a7080a85fe.svg" alt="crowPro">
                                    </span>
                                </h2>
                            </a>
                            <p style="text-align:left">
                                Đây là khóa học đầy đủ và chi tiết nhất bạn có thể tìm thấy được ở trên Internet!
                            </p>
                            <a
                                href="payment/htmlcss"
                                class="slide-show__button"
                            >
                                Tìm hiểu thêm
                            </a>
                        </div>
                    </div>
                </div>
                <div
                    class="carousel-item"
                    data-bs-interval="5000"
                >
                    <img
                        class="first-slide-img"
                        src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_web_ReactJS.png"
                        alt="First slide"
                    />
                    <div class="first-slide-content">
                        <div class="d-flex flex-column align-items-start">
                            <a class="link-text" href="courses?category=reactjs">
                                <h2 style="font-weight: 700">
                                    Học ReactJS Miễn Phí!
                                </h2>
                            </a>
                            <p style="text-align:left">
                                Khóa học ReactJS từ cơ bản tới nâng cao. 
                                Kết quả của khóa học này là bạn có thể làm hầu hết các dự án thường gặp với ReactJS.
                            </p>
                            <a
                                href="courses?category=reactjs"
                                class="slide-show__button"
                            >
                                Tìm hiểu thêm
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img
                        class="first-slide-img"
                        src="img/Nodejs-banner.png"
                        alt="Second slide"
                    />
                    <div class="first-slide-content">
                        <a
                            href="/register"
                            style="text-decoration: none; color: #fff"
                            class="d-flex flex-column align-items-start"
                        >
                            <a
                                class="link-text"
                                href="courses?category=nodejs"
                            >
                                <h2
                                    style="font-weight: 700"
                                >
                                    Node <span style="color:#7dc10a">&amp;</span> ExpressJS
                                </h2>
                            </a>
                            <p
                                style="text-align:left"
                            >
                                Học Back-end với Node &amp; ExpressJS framework, 
                                hiểu các khái niệm khi làm Back-end và xây dựng RESTful API cho trang web.
                            </p>
                            <a
                                href="courses?category=nodejs"
                                class="slide-show__button"
                            >
                                Đăng ký ngay
                            </a>
                        </a>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img
                        class="first-slide-img"
                        src="img/htmlcssbanner.png"
                        alt="Third slide"
                    />
                    <div class="first-slide-content">
                        <div class="d-flex flex-column align-items-start">
                            <a
                                class="link-text"
                                href="courses?category=html-css"
                            >
                                <h2 style="font-weight: 700">
                                    HTML CSS
                                </h2>
                            </a>
                            <p style="text-align:left">
                                Trong khóa này chúng ta sẽ cùng nhau xây dựng giao diện 2 trang web là <br> 
                                The Band &amp; Shopee 
                            </p>
                            <a
                                href="courses?category=html-css"
                                class="slide-show__button"
                            >
                                Tham gia khoá học
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <button
                class="carousel-control-prev"
                data-bs-target="#carouselExampleCaptions"
                type="button"
                data-bs-slide="prev"
            >
                <span class="carousel-control-prev-icon" aria-hidden="true">
                    <svg
                        aria-hidden="true"
                        focusable="false"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512"
                    >
                        <path
                            fill="currentColor"
                            d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 
                            0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 
                            169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"
                        >
                        </path>
                    </svg>
                </span>
                <span class="visually-hidden">
                    Previous
                </span>
            </button>
            <button
                class="carousel-control-next"
                data-bs-target="#carouselExampleCaptions"
                type="button"
                data-bs-slide="next"
            >
                <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                >
                    <svg
                        aria-hidden="true"
                        focusable="false"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512"
                    >
                        <path
                            fill="currentColor"
                            d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 
                            256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 
                            12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
                        >
                        </path>
                    </svg>
                </span>
                <span class="visually-hidden">
                    Next
                </span>
            </button>
        </div>

        {{!-- Roadmap --}}
        {{!-- Pro Courses --}}
        <div class="mt-4 ms-4">
            <h1>
                <span style="font-size: 1.6rem; font-weight: 1000">
                    Khóa học Pro
                    <span
                        style="background-color:#0d6efd;"
                        class="badge badge-primary"
                    >
                        Mới
                    </span>
                </span>
            </h1>
            <div class="row d-flex flex-row mt-4">
                {{!-- Start Loop here --}}
                <div class="col-lg-3 card border-0" >
                    <a
                        href="/payment/htmlcss"
                        class="home-courses-thumbnail"
                    >
                        <img
                            style="border-radius: 16px"
                            class="card-img-top"
                            src="https://files.fullstack.edu.vn/f8-prod/courses/15/62f13d2424a47.png"
                            alt="htmlCssPro"
                        />
                    </a>
                    <div
                        style="padding-left: 0; padding-top: 8px; font-weight: 600"
                        class="card-body"
                    >
                        <a
                            href="/payment/htmlcss"
                            style="text-decoration: none; margin-bottom: 4px"
                            class="card-text"
                        >
                            HTML CSS Pro
                        </a>
                        <span style="color: #666; font-weight: normal">
                            <span
                                style="font-size: .8rem"
                            >
                                <span style="text-decoration: line-through; font-size: 1rem">2.499.000đ</span> 
                                <span style="color: #f05123; font-weight: 600; font-size: 1.1rem; margin-left: 4px">1.299.000đ</span>
                            </span>
                        </span>
                        <div class="crowPro">
                            <img src="https://fullstack.edu.vn/static/media/crown_icon.3e4800f7485935ab6ea312a7080a85fe.svg" alt="crowPro"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 card border-0" >
                    <a
                        href="#"
                        class="home-courses-thumbnail"
                    >
                        <img
                            style="border-radius: 16px"
                            class="card-img-top"
                            src="https://files.fullstack.edu.vn/f8-prod/courses/19/62f13cb607b4b.png"
                            alt="javaScriptPro"
                        />
                    </a>
                    <div
                        style="padding-left: 0; padding-top: 8px; font-weight: 600"
                        class="card-body"
                    >
                        <a
                            href="#"
                            style="text-decoration: none; margin-bottom: 4px"
                            class="card-text"
                        >
                            JavaScript Pro
                        </a>
                        <span style="color: #666; font-weight: normal">
                            <span
                                style="font-size: .8rem"
                            >
                                {{!-- <span style="text-decoration: line-through; font-size: 1rem">2.499.000đ</span> 
                                <span style="color: #f05123; font-weight: 600; font-size: 1.1rem; margin-left: 4px">1.299.000đ</span> --}}
                            </span>
                        </span>
                        <div class="crowPro">
                            <img src="https://fullstack.edu.vn/static/media/crown_icon.3e4800f7485935ab6ea312a7080a85fe.svg" alt="crowPro">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 card border-0" >
                    <a
                        href="#"
                        class="home-courses-thumbnail"
                    >
                        <img
                            style="border-radius: 16px"
                            class="card-img-top"
                            src="https://files.fullstack.edu.vn/f8-prod/courses/20/62f13dded314e.png"
                            alt="reactJSPro"
                        />
                    </a>
                    <div
                        style="padding-left: 0; padding-top: 8px; font-weight: 600"
                        class="card-body"
                    >
                        <a
                            href="#"
                            style="text-decoration: none; margin-bottom: 4px"
                            class="card-text"
                        >
                            ReactJS Pro
                        </a>
                        <span style="color: #666; font-weight: normal">
                            {{!-- <span
                                style="font-size: .8rem"
                            >
                                <span style="text-decoration: line-through; font-size: 1rem">2.499.000đ</span> 
                                <span style="color: #f05123; font-weight: 600; font-size: 1.1rem; margin-left: 4px">1.299.000đ</span>
                            </span> --}}
                        </span>
                        <div class="crowPro">
                            <img src="https://fullstack.edu.vn/static/media/crown_icon.3e4800f7485935ab6ea312a7080a85fe.svg" alt="crowPro">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 ms-4">
            <h1>
                <span style="font-size: 1.6rem; font-weight: 1000">
                    Lộ trình học Front-end
                    <span
                        style="background-color:#0d6efd;"
                        class="badge badge-primary"
                    >
                        Mới
                    </span>
                </span>
            </h1>
            <div class="row d-flex flex-row mt-4">
                {{!-- Start Loop here --}}
                {{#each frontendGroup}}
                {{#if this.name}}
                <div class="col-lg-3 card border-0" >
                    <a
                        href="/courses?category={{this.name}}"
                        class="home-courses-thumbnail"
                    >
                        <img
                            style="border-radius: 16px"
                            class="card-img-top"
                            src="https://files.fullstack.edu.vn/f8-prod/courses/{{this.thumbnail}}"
                            alt="{{this.name}}"
                        />
                    </a>
                    <div
                        style="padding-left: 0; padding-top: 8px; font-weight: 600"
                        class="card-body"
                    >
                        <a
                            href="/courses?category={{this.name}}"
                            style="text-decoration: none"
                            class="card-text"
                        >
                            {{this.title}}
                        </a>
                        <span style="color: #666; font-weight: normal">
                            <i class="bi bi-people-fill"></i>
                            <span
                                style="font-size: .8rem"
                            >
                                10{{@index}}.2{{@index}}6
                            </span>
                        </span>
                    </div>
                </div>
                {{else}}
                {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="mt-4 ms-4">
            <h1>
                <span style="font-size: 1.6rem; font-weight: 1000">
                    Lộ trình học Back-end
                    <span
                        style="background-color: #0d6efd;"
                        class="badge badge-primary"
                    >
                        Mới
                    </span>
                </span>
            </h1>
            <div class="row d-flex flex-row mt-4">
                {{!-- Start Loop here --}}
                {{#each backendGroup}}
                {{#if this.name}}
                <div class="col-lg-3 card border-0" >
                    <a
                        href="/courses?category={{this.name}}"
                        class="home-courses-thumbnail"
                    >
                        <img
                            style="border-radius: 16px"
                            class="card-img-top"
                            src="https://files.fullstack.edu.vn/f8-prod/courses/{{this.thumbnail}}"
                            alt="{{this.name}}"
                        />
                    </a>
                    <div
                        style="padding-left: 0; padding-top: 8px; font-weight: 600"
                        class="card-body"
                    >
                        <a
                            href="/courses?category={{this.name}}"
                            style="text-decoration: none"
                            class="card-text"
                        >
                            {{this.title}}
                        </a>
                        <span style="color: #666; font-weight: normal">
                            <i class="bi bi-people-fill"></i>
                            <span
                                style="font-size: .8rem"
                            >
                                1{{@index}}4.25{{@index}}
                            </span>
                        </span>
                    </div>
                </div>
                {{else}}
                {{/if}}
                {{/each}}
            </div>
        </div>
</article>