<form
    method="POST"
    action="/courses/me/deletemany?_method=DELETE"
    id="function-form"
>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input
                        class="form-check-input chkBoxAll"
                        type="checkbox"
                    />
                </th>
                <th scope="col">#</th>
                <th scope="col">
                    Tên bài học
                    <a href="?_sort">
                        <i class="bi bi-sort-alpha-down"></i>
                    </a>
                </th>
                <th scope="col">
                    VideoId
                </th>
                <th scope="col">
                    Khoá học
                </th>
                <th scope="col">
                    Thời gian tạo
                </th>
                <th></th>
            </tr>   
        </thead>
        {{#each data }}
        <tbody>
            <tr>
                <td>
                    <input
                        class="form-check-input chkBoxItem"
                        name="deleteItem"
                        value={{this._id}}
                        type="checkbox"
                    />
                </td>
                <th scope="row">
                    {{sum @index 1}}
                </th>
                <td>
                    {{this.title}}
                </td>
                <td>
                    <div class="d-flex flex-column">
                        {{this.videoId}}
                        <img
                            style="border-radius: 16px; height: 100px; object-fit: cover;"
                            src="https://i.ytimg.com/vi/{{this.videoId}}/maxresdefault.jpg"
                            class="card-img-top"
                            alt="{{this.title}}"
                        />
                    </div>
                </td>
                <td>
                    {{this.name}}
                </td>
                <td>
                    {{this.createdAt}}
                </td>
                <td>
                    <a
                        href="/courses/update?slug={{this._id}}"
                        class="btn btn-primary"
                    >
                        Sửa
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a
                        href=""
                        class="btn btn-danger mt-2"
                        data-bs-toggle="modal"
                        data-id="{{this._id}}"
                        data-bs-target="#delete-modal"
                    >
                        Xoá
                        <i class="bi bi-x-lg"></i>
                    </a>
                </td>
            </tr>
        </tbody>
        {{else}}
        <td colspan="6" class="text-center">
            Bạn không có khoá học nào.
            <a href="/courses/create">
                Tạo mới
            </a>
        </td>
        {{/each}}
        <div class="row mt-4 text-center ">
            <h2>
                <i class="bi bi-folder-fill"></i>
                QUẢN LÝ BÀI HỌC
            </h2>
        </div>
        <div class="row mt-4 justify-content-between">
            <div class="col">
                <a
                    href="/courses/create"
                    class="btn btn-secondary"
                >
                    <i class="bi bi-plus-square"></i>
                    Tạo bài học mới
                </a>
            </div>
            <div class="col-lg-2" style="padding-left: 80px">
                <a
                    href="/courses/me/trash"
                    class="btn btn-secondary"
                >
                    <i class="bi bi-trash3-fill"></i>
                    ({{deleteCount}})
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-2">
            <div class="d-flex mb-4 justify-content-center align-items-center">
                <select
                    class="form-select-s me-2"
                    name="type"
                    required
                >
                    <option value="">
                        -- Tuỳ chọn --
                    </option>
                    <option value="delete">
                        Xoá
                    </option>
                </select>
                <button
                    id="submit-form"
                    class="btn btn-primary"
                    type="submit"
                    disabled
                >
                    Thực hiện
                </button>
            </div>
            {{!-- Pagination --}}
            <nav aria-label="Page navigation example d-flex justify-content-center align-items-center">
                <ul class="pagination justify-content-center">
                    {{#if (handlePagination (sum currentPage -1) totalPage)}}
                    <li class="page-item">
                        <a
                            href="/courses/me/manage?page=1"
                            class="page-link"
                        >Trang đầu</a>
                    </li>
                    <li class="page-item">
                        <a
                            class="page-link"
                            href="/courses/me/manage?page={{handlePagination (sum currentPage -1) totalPage}}"
                        >
                            {{handlePagination (sum currentPage -1) totalPage}}
                        </a>
                    </li>
                    {{else}}
                    <li class="page-item disabled">
                        <a
                            class="page-link"
                            href="/courses/me/manage"
                        >Trang đầu</a>
                    </li>
                    {{/if}}
                    <li class="page-item active">
                        <a
                            class="page-link"
                            href="#"
                        >
                            {{currentPage
                        }}</a>
                    </li>
                    {{#if (handlePagination (sum currentPage 1) totalPage)}}
                    <li class="page-item">
                        <a
                            class="page-link"
                            href="/courses/me/manage?page={{handlePagination (sum currentPage 1) totalPage}}"
                        >
                            {{handlePagination (sum currentPage 1) totalPage}}
                        </a>
                    </li>
                    <li class="page-item">
                        <a
                            class="page-link"
                            href="/courses/me/manage?page={{totalPage}}"
                        >Trang cuối</a>
                    </li>
                    {{else}}
                    <li class="page-item disabled">
                        <a
                            class="page-link"
                            href="/courses/me/manage"
                        >Trang cuối</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </table>
</form>
      
<!-- Modal -->
<div
    class="modal fade"
    id="delete-modal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5
                    style="color:#dc3545"
                    class="modal-title"
                    id="exampleModalLabel"
                >
                    <i class="bi bi-exclamation-octagon-fill"></i>
                    Xoá bài học
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                Hành động này sẽ tạm thời chuyển bài học vào thùng rác. Bạn chắc chắn muốn xoá? 
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Đóng
                </button>
                <button
                    type="button"
                    class="btn btn-warning"
                    id="confirm-delete"
                >
                    Xác nhận
                </button>
            </div>
        </div>
    </div>
</div>
{{!-- Hidden form --}}
    <form method="POST" id="delete-form"></form>

<script>
    addEventListener('DOMContentLoaded', () => {
        let btnId;
        const btnConfirm = document.getElementById('confirm-delete')
        const btnSubmitForm = document.getElementById('submit-form')
        const form = document.forms['delete-form']
        const functionForm = document.forms['function-form']
        const chkBoxItem = document.querySelectorAll('input[class="form-check-input chkBoxItem"]')
        const chkBoxAll = document.querySelector('input[class="form-check-input chkBoxAll"]')
        const checkedItem = document.querySelectorAll('input[class="form-check-input chkBoxItem"]:checked');
        const modal = document.getElementById('delete-modal')

        //{{!-- handle checkbox all --}}
        chkBoxAll.onchange = (e) => {
            const itemLength = chkBoxItem.length;
            if(itemLength === 0) {
                e.target.checked = false;
            }
            if(e.target.checked) {
                for(var i = 0; i < itemLength; i++) {
                    chkBoxItem[i].checked = true
                } 
                btnSubmitForm.removeAttribute('disabled')
            } else {
                for(var i = 0; i < itemLength; i++) {
                        chkBoxItem[i].checked = false
                    }
                btnSubmitForm.setAttribute('disabled','disabled')
            }
        }

        //{{!-- handle checkbox item --}}
        chkBoxItem.forEach(e=>{
            e.addEventListener('change', (e) => {
                const checked = document.querySelectorAll('input[class="form-check-input chkBoxItem"]:checked');
                if(checked.length == chkBoxItem.length) {
                    chkBoxAll.checked=true;
                } else {
                    chkBoxAll.checked=false
                }
                if(!e.target.checked && !checked.length > 0) {
                    btnSubmitForm.setAttribute('disabled','disabled')
                } else {
                    btnSubmitForm.removeAttribute('disabled')
                }
            })
        })

        //{{!-- Open modal --}}
        modal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            btnId = button.getAttribute('data-id')
        })

        //{{!-- Confirm delete --}}
        btnConfirm.addEventListener('click', () => {
            form.action=`/courses/me/${btnId}?_method=DELETE`
            form.submit()
        })
    });
</script>